* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #2d2b2b;
    line-height: 1.6;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 36px;
}

header p {
    margin-top: 10px;
    font-size: 18px;
}

nav {
    background-color: #111827;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #38bdf8;
}

.section {
    max-width: 950px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(168, 145, 145);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: #1e64fb solid 2px;
}

.section h2 {
    margin-bottom: 15px;
    color: #1f2933;
}
.section:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.resume-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #c98129;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
.skills span {
    background-color: #e0f2fe;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #1f2933;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    border: 2px dotted #38bdf8;
    background-image: url(image/LalitPrasannaG.jpeg);
    background-size: cover;
    background-position: center;
    padding: 10%;


}
.highlight:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.circle:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.description {
    font-size: 18px;
    animation: fadeIn 10s ease-in-out infinite;
    color: purple;
}
.description:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

@keyframes fadeIn {
   0%{color: #264c55;}
   25%{color: #d74ac0;}
    50%{color: #2191dc;}
    75%{color: #38bdf8;}
    100%{color: #264c55;}
}
.left-pannel {
    background-color: #f4f6f8;
}
.tech-icons {
  margin-top: 15px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.tech-icons i {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.tech-icons i:hover {
  transform: scale(1.2);
}

   

